# Node.js
node_modules
npm-debug.log
yarn-error.log
yarn-debug.log

# 版本控制
.git
.gitignore

# 敏感文件
.env
.env.local
.env.*.local

# 编辑器配置
/.vscode
/.idea

# 本地文件
/uploads/*

# 其他文件
*.md
.DS_Store
docker-compose.yml
Dockerfile* 